# Built files
aoc2022
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Visual Studio Code
.vscode
.history/
*.vsix

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
